*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.postContainer{
    padding: 1.5rem;
}

.avatar{
    display: inline-block;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.userName:after{
content: '6 hours ago';
display: block;
color: #ccc;
font-size: 12px;
}

.postTitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1.5rem 0;
}

@media (max-width:992px){
    
.postTitle{
    font-size: 0.8rem;
}
}

.postDescription{
    font-size: 0.82rem;
}

.reactionsHolder{
    margin-top: 1.5rem;
}

.likesCount{
    display: inline-block;
    font-size: 0.88rem;
    user-select: none;
    cursor: default;
}

.reaction{
    margin: 0 0.8rem;
    font-size: 0.88rem;
    cursor: pointer;
}
